# EXERCISE 1

Write a program that uses input to prompt a user for their name and then welcomes them.
```
Enter your name: Chuck
Hello Chuck
```

In [ ]:
#Answer

name = input("Enter your name: ")
print(f"Hello {name}")

Enter your name: Chuck
Hello Chuck

# EXERCISE 2

Write a program to prompt the user for hours and rate per hour to compute gross pay.
```
Enter Hours: 35
Enter Rate: 2.75
Pay: 96.25
```

In [ ]:
#Answer

h = float(input("Enter Hours: "))
r = float(input("Enter Rate: "))

grossPay = h * r

print(f"Pay: {grossPay}")

Enter Hours: 35
Enter Rate: 2.75
Pay: 96.25

# EXERCISE 3

Assume that we execute the following assignment statements:
```python
width = 17
height = 12.0
```
For each of the following expressions, write the value of the expression and the type (of the value of the expression).
```python
width//2
width/2.0
height/3
1 + 2 * 5
```

In [ ]:
#Answer

width = 17
height = 12.0

x1 = width//2
x2 = width/2.0
x3 = height/3
x4 = 1 + 2 * 5

print(f"The value is {x1} and data type is {type(x1)}")
print(f"The value is {x2} and data type is {type(x2)}")
print(f"The value is {x3} and data type is {type(x3)}")
print(f"The value is {x4} and data type is {type(x4)}")

The value is 8 and data type is <class 'int'>
The value is 8.5 and data type is <class 'float'>
The value is 4.0 and data type is <class 'float'>
The value is 11 and data type is <class 'int'>

# Exercise 4

Write a program that uses input to prompt a user for a number and then outputs the square of the number
```
Enter a number: 3
The square of 3 is 9
```

In [ ]:
#Answer

num = int(input("Enter a number: "))
squared = num * num
print(f"The square of {num} is {squared}")

Enter a number: 3
The square of 3 is 9

# CHALLENGE

Write a program which prompts the user for a Celsius temperature, convert the temperature to Fahrenheit, and print out the converted temperature.

In [ ]:
celsius = float(input("Enter celsius: "))
fahrenheit = celsius * 1.8 + 32
print(f"{celsius} celsius is {fahrenheit} fahrenheit")

Enter celsius5
5.0 celsius is 41.0 fahrenheit