# EXERCISE 1

##a

Each line of code below contains an error. Fix the error and explain in a comment the reason for the error.

In [ ]:
Print('Hello world!') #syntax print has a capital letter p.

NameError: name 'Print' is not defined

In [ ]:
#Correct syntax is print()

print('Hello world!')

##b

In [ ]:
print'Hello world!') #There is no open parenthesis

In [ ]:
#Correct syntax has open and close parentheses

print('Hello world!')

##c

In [ ]:
print('Hello world!)
#no closing qoutation

In [ ]:
# Correct syntax for printing string should have open and close qoutation
print('Hello world!')

##d

In [ ]:
print('Hello world!'')
#there is doouble single qoutation in closing.

In [ ]:
print('Hello world!') # Open and close qoutation should be the same. If you use double, then use close and open qoutation same if using single qoutation.

# EXERCISE 2

What is the output of the code below?

In [ ]:
x = 43
x = x + 1
print(x)

#since x has been initialized as 43 then x is 43. x is added to 1, then 44 is the output/answer

# EXERCISE 3

The code below contains an error. Fix the error and explain in a comment the reason for the error.

In [ ]:
x = 43
x = X + 1
print(x)
# The error is from variable 'X'. Variables are case-sensitive, which makes 'x' different from 'X'.

44

In [ ]:
#Correct format

x = 43
x = x + 1
print(x)